* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body * {
    border: 1px solid black;
}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:80px;
}

.logo {
    display:flex;
    justify-content:center;
    /*debug*/
    width:100px;
    height:50px;
}

.navbar-header {
    display:flex;
    justify-content:space-between;
    width:100%;
}

.navbar-header ul {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-basis:25%;
    padding:10px;
}

.navbar-header ul li{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis:20%;
    list-style-type:none;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.jumbotron{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:50px;
}

h1 {
    display:flex;
    justify-content:start;
    align-items:center;  
    width:60%;
}

.jumbo-intro{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:60%;
    /*debug*/
    height:350px;
}

.jumbo-p{
    display:flex;
    justify-content:center;
    align-items:center;
    width:30%;
    height:200px;
}

.jumbo-image{
    display:flex;
    justify-content:center;
    align-items:center;
    width:60%;
    height:200px;
}

.plan{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
    width:60%;
    /*debug*/
    height:800px;
    padding:20px;
}

h2{
    display:flex;
    justify-content:start;
    align-items:center;  
    width:80%;
    /*debug*/
    height:70px;
}

.choice {
    width:80%;
}

.column{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:80%;
}

.card{
    flex-basis:23%;
    padding:30px;
    /*debug*/
    height:500px;
}

.team-box{
    width:80%;
    /*debug*/
    height:70px;
}

.partner {
    display:flex;
    justify-content:center;
    align-items:center;
    width:60%;
    /*debug*/
    height:400px;
}

.partner-image{
    width:40%;
    /*debug*/
    height:300px;
}

.partner-p{
    width:20%;
    /*debug*/
    height:300px;
}

.operation{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:60%;
    height:800px;
    padding:20px;
}

.card-business{
    width:32%;
    /*debug*/
    height:300px;
}

.discover-more {
    width:60%;
    margin-bottom:40px;
}

footer {
    display:flex;
    justify-content:center;
    width:100%;
}
.navbar-footer{
    display:flex;
    justify-content:space-between;
    align-content:center;
    align-items:center;
    width:60%;
    /*debug*/
    height:200px;
}
