* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body * {
    font-family:"Open Sans";
}

/*header*/
header {
   position:fixed;
   display:flex;
   justify-content:center;
   background-color:white;
   width:100%;
   height:70px;
   border:1px solid rgb(186, 181, 181);
}

/*logo header*/
.logo {
    display:flex;
    justify-content:center;
}

/*navbar*/
.navbar-header {
    display:flex;
    align-content:center;
    justify-content:space-between;
    width:100%;
    font-size:13px;
    margin-right:10px;
    margin-left:10px;
}

/*navbar sx e dx*/
.navbar-header ul {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:25%;
}

/*voci navbar*/
.navbar-header ul li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    list-style-type:none;
}

/*bordo inferiore al passaggio del mouse*/
.underline:hover{
    border-bottom:1px solid black;
}

.navbar-header ul li a {
    text-decoration:none;
    color:black;
}

/*tutti i bottoni*/
button{
    background-color:#0361FE;
    color:white;
    border:none;
    padding:8px;
}

button:hover{
    background-color:rgba(0, 0, 255, 0.266);
}

/*jumbotron*/
.jumbotron {
    width:100%;
    background-color:#B4D0E6;
    height:700px;
}

.jumbo-content {
    margin:0 auto;
    width:80%;
}

/*titolo principale*/
h1 {
    margin:0 auto;
    width:60%;
    font-size:65px;
    padding-top:150px;
}

/*contenuto principale jumbotron*/
.jumbo-content{
    display:flex;
    justify-content:center;
    width:60%;
    padding-top:30px;
}

/*blocco testo jumbotron*/
.jumbo-paragraph{
    width:30%;
}

.jumbo-paragraph > * {
    margin-bottom:20px;
}

/*freccia jumbotron*/
.fa-arrow-down {
    margin-top:40px;
    font-size:50px;
}

/*blocco immagine jumbotron*/
.jumbo-image{
    width:70%;
}

.jumbo-image img {
    max-width:100%;
}

/*blocco vuoto per bordo inferiore jumbotron*/
.white{
    border-top:1px solid rgb(218, 211, 211);
    height:40px;
    width:100%;
    margin-top:100px;
}

/*container*/
.container {
    margin:0 auto;
    width:50%;
}

/*sezione plan*/
.plan{
    margin-top:40px;
}

/*titolo secondario*/
h2{
    font-size:35px;
    padding-bottom:40px;
}

/*radio button*/
.choice {
    font-size:14px;
}

/*secondo radio button*/
.yearly-invoicing {
    margin-left:30px;
}

/*colonne*/
.column{
    display:flex;
    gap:40px;
    margin-top:40px;
}

/*icone colonne*/
.fa-solid{
    margin-right:4px;
}

/*titolo card*/
.card-header{
    border-bottom:1px solid rgb(186, 181, 181);
    text-align:center;
    padding:10px;
}

/*singole card*/
.card{
    width:33%;
    border:1px solid rgb(186, 181, 181);   
}

.card-text{
    padding: 0 15px;
}

/*primo blocco card*/
.card h3, .card h4, .period{
    margin-top:25px;
    margin-bottom:10px;
}

.period{
    color: rgb(186, 181, 181);
}

/*bottone card*/
.card button{
    width:100%;
}

/*elementi liste card e in generale*/
li{
    list-style-type:none; 
}

/*lista servizi offerti*/
.services{
    margin-top:30px;
    margin-bottom:30px;
}

.services li {
    margin-bottom:10px;
}

/*bottone card*/
.purchase-button{
    margin-bottom:20px;
    text-align:center;
}

h5{
    margin-top:20px;
    margin-bottom:20px;
}

/*linea grigia sotto link card*/
.purchase-line{
    width:20%;
    margin-top:30px;
    margin-bottom:40px;
    border-bottom: 1px solid rgb(186, 181, 181);
}

/*lista dei vantaggi*/
.pro li {
    margin-left:2px;
    padding:5px;
}

/*spunta blu*/
.check:before {
    content:"\2713";
    color:blue;
    margin-right:10px;
}

/*blocco enterprise*/
.contact-office {
    margin-top:50px;
    border:1px solid rgb(186, 181, 181);
}

/*blocco enterprise + bottone*/
.enterprise-office{
    display:flex;
    justify-content:space-between;
}

.enterprise>*{
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
}

.enterprise > :last-child {
    margin-top: 20px;
    margin-bottom:20px;
}

/*sezione partner*/
.partner-content {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;
    margin-top:200px;
    margin-bottom:150px;
}

/*immagine sezione partner*/
.partner-image{
    width:70%;
}

.partner-image img{
    max-width:100%;
}

/*blocco testo sezione partner*/
.partner-text{
    width:30%;
}

.partner-text p {
    margin-top:10px;
    margin-bottom:20px;
}

/*bottone sezione partner*/
.partner-text button{
    background-color:white;
    color:black;
    border: 1px solid black;
    padding:15px;
}

/*blocco card sezione operation*/
.operation-content{
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    background-color:white;
}

/*singole card*/
.card-business{
    margin-top:40px;
    padding:10px;
    width:33%;
}

/*immagine card*/
.card-business-image {
    width:100%;
    height:60%;
}

.card-business-image img {
    max-width:100%;
}

/*tiotli card*/
.card-business-p h3 {
    margin-top:10px;
    margin-bottom:20px;
}

.operation-content h2 {
    margin-bottom:30px;
}

/*sezione clienti*/
.clients {
    margin-top:200px;
    width:70%;
}

/*titolo sezione clienti*/
.clients-content h2{
    margin-bottom:40px;
}

/*footer*/
footer {
    margin-top:200px;
    background-color:black;  
}

/*contenuto footer*/
.footer-content{
    margin:0 auto;
    width:60%;
    padding:60px;
}

/*navbar footer*/
.navbar-footer{
    display:flex;
    justify-content:space-between;
}

.navbar-footer li {
    padding:5px;
    color:rgb(186, 181, 181); 
}

/*prime voci navbar footer*/
footer h3{
    color:white;
    margin-bottom:20px;
}

/*blocco scelta lingua*/
.choice-language {
    width:15%;
    color:rgb(186, 181, 181); 
    border-top:1px solid rgb(186, 181, 181); 
    margin-top: 80px;
    padding-top:20px;
}

/*icona pianeta blocco scelta lingua*/
.fa-earth-americas {
    margin-right:8px;
}

/*icona freccia blocco scelta lingua*/
.fa-caret-up{
    margin-left:5px;
}
    