* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:80px;
    /*debug*/
    border:1px solid;
}

.logo {
    display:flex;
    justify-content:center;
    /*debug*/
    width:100px;
    height:50px;
    border:1px solid;
}

.navbar-header {
    display:flex;
    justify-content:space-between;
    width:100%;
}

.navbar-header ul {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-basis:25%;
    padding:10px;
    /*debug*/
    border:1px solid;
}

.navbar-header ul li{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis:20%;
    list-style-type:none;
    /*debug*/
    border:1px solid;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.jumbotron{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:50px;
    /*debug*/
    border:1px solid;
}

h1 {
    display:flex;
    justify-content:start;
    align-items:center;  
    width:60%;
    /*debug*/
    border:1px solid;
}

.intro-jumbo{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:60%;
    /*debug*/
    height:350px;
    border:1px solid;
}

.p-jumbo{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis:40%;
    /*debug*/
    border:1px solid;
}

.image-jumbo{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-basis:60%;
    /*debug*/
    border:1px solid;
}

.plan{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border:1px solid;
    width:100%;
    /*debug*/
    height:1000px;
    border:1px solid;
}

.plan{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:50%;
   /*debug*/
    border:1px solid;
    height:800px;
}
h2{
    display:flex;
    justify-content:start;
    width:80%;
    padding:30px;
    /*debug*/
    height:70px;
    border:1px solid;
}

.choice {
    width:80%;
    padding:30px;
    /*debug*/
    border:1px solid;
}

.column{
    padding:30px;
    display:flex;
    justify-content:space-around;
    align-items:center;
    border:1px solid;
    width:80%;
}

.card{
    border:1px solid;
    flex-basis:23%;
    height:500px;
}

